- var isProduction = process.env.NODE_ENV === 'production';
- var domain = isProduction ? 'https://alexeypogorelov.github.io/' : '/';
//- var domain = './';
- var imgRoot = domain + (process.env.NODE_ENV === 'production' ? 'src/img/' : 'img/');
- var author = 'Oleksii Pohorielov';

doctype html
html(lang='en')
  head
    title=author

    //- meta
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")

    //- generate image here http://realfavicongenerator.net/
    link(rel="apple-touch-icon" sizes="180x180" href=imgRoot + "favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href=imgRoot + "favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href=imgRoot + "favicons/favicon-16x16.png")
    link(rel="manifest" href=imgRoot + "favicons/site.webmanifest")
    link(rel="mask-icon", href=imgRoot + "favicons/safari-pinned-tab.svg", color="#fea100")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#f1b887")

    //- open graph
    meta(property="og:type" content="website")
    meta(property="og:title" content=author)
    meta(property="og:description" content="Front-end developer")
    meta(property="og:image" content=imgRoot + "avatar-300px.jpg")
    meta(property="og:url" content=domain)
    meta(name="twitter:image" content=imgRoot + "avatar-300px.jpg")
    meta(name="twitter:title" content=author)
    meta(name="twitter:url" content=domain)
    meta(name="twitter:card" content="summary")
    meta(name="twitter:description" content="Full-Stack developer")

    style
      include ../dist/css/main.css

  body
    section
      img.introduction__image(src=imgRoot + 'avatar-300px.jpg' alt=author)

      .introduction__headers
        h1=author
        h4 (LEAD Software Engineer)

      ul.introduction
        li
          strong Location: 
          a(href="https://www.google.com.ua/maps/place/%D0%A7%D0%B5%D1%80%D0%BA%D0%B0%D1%81%D1%81%D1%8B,+%D0%A7%D0%B5%D1%80%D0%BA%D0%B0%D1%81%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C/@49.4310824,31.9787417,12z/data=!3m1!4b1!4m5!3m4!1s0x40d14b866064977f:0xf8dce723a9cbb5d8!8m2!3d49.444433!4d32.059767?hl=ru" target="_blank") Ukraine, Cherkassy
        li
          strong E-MAIL: 
          a(href="mailto:alexey.intertech@gmail.com") alexey.intertech@gmail.com
        li
          strong Phone: 
          a(href="callto:+380638561317") +38 (063) 856-13-17
        li
          strong Skype: 
          a(href="skype:alexey.pogorelov.music") alexey.pogorelov.music

      h2 Overview
      p With over ten years of experience as a WEB developer, I possess expertise in various JavaScript-related technologies such as React, Vue, Angular, NodeJS, jQuery, and more. Throughout my career, I have been involved in over 20 projects as a full-stack expert and have gained extensive experience creating single-page applications and REST APIs for various web-based software.
      p As a passionate UX/UI design industry follower, I am well-equipped to assist in drafting visually appealing and user-friendly interfaces that exceed clients' expectations. I have faced complex design challenges throughout my career, including creating responsive layouts, optimizing performance, and ensuring cross-browser compatibility. Furthermore, I understand the importance of balancing functionality with aesthetics and user experience and the significance of developing advanced animations in achieving a cutting-edge look and feel for any product. 
      p I deeply understand the processes behind software development, from design to implementation through testing, and have developed strategies to build communication with technical and non-technical team members effectively.
      p Of course, experience alone is not enough. As the industry evolves, front-end developers must stay current with emerging technologies and tools. So whether it's learning a new framework or keeping up with evolving best practices, I prioritize staying informed and adaptable in a fast-changing landscape. By drawing on past successes and learning from past mistakes, we can build more robust, more efficient, and more effective web applications that meet the needs of our clients and delight their users. I've seen many projects suffer from bloated code, which can slow development and create maintenance headaches. One of the critical advantages of experience is the ability to anticipate and avoid common pitfalls.

    section
      h2 Skills
      ul.skills
        li JavaScript / TypeScript
        li User Experience & Design
        li Node JS
        li HTML5 / CSS3
        li React 16.8+
        li Angular 2+
        li jQuery
        li PHP
        li Canvas (Three, P5)
        li Sass / Less
        li Pug / Blade / Twig
        li SQL / Mongo
        li GIT / SVN
        li Vagrant / Docker
        li Agile / Scrum / Kanban

      h2 Education
      h3 Master of Computer Applications (M.C.A.), Programming | Cherkasy National University named after Bogdan Khmelnitsky
      p Master of Computer Applications (M.C.A.), Programming | Cherkasy National University named after Bogdan Khmelnitsky
      p 2007 – 2012

      h2 Experience
      ul.experience
        li
          h3 Cherkasy State Business College
          p I graduated with a <b>Computer Science</b> degree, but I don't feel like I've learned how to program. I had a strong passion for writing code and creating applications using cutting edge technologies.
          h4 September 2007 - January 2011 (3 years 5 months)

        li
          h3 WEB Development as a hobby
          p In this period, I developed a few projects for local companies. This included public catalogues and landing pages with the ability to sort, filter and structure information. The products were built with a combination of Joomla / WordPress and configurations for a few plugins. Also, I used existing jQuery libraries to solve some UI requirements. No coding challenges, just using third-party products to get everything done.
          h4 January 2011 - May 2015 (4 years 5 months)

        li
          h3 Front End Technical Lead at 
            a(href='https://intertech.company/') Intertech. 
          p It was my first full-time job in an office. Intertech is a custom software development company that offers a wide range of e-commerce development services. The company offers online shops, B2B portals, reservation systems and other related solutions. When I started working for the company, in my responsibilities involved developing landing pages and websites using HTML and CSS. After several months, in addition to my other responsibilities, I started carrying out developers' interviews and creating business offers for our clients. Besides that, I was responsible for choosing technologies, estimations, plannings, and more. My team had around 3 - 5 junior front end developers, and we completed 10+ projects for a local market.
          h4 June 2015 - January 2016 (1 year 6 months)

        li
          h3 WEB Developer for the 
            a(href='http://perevorot.com/' target="_blank") Perevorot.
          p In this period, I gained considerable experience working with back-end technologies. I was a part of the full-stack team, and we built a few MVPs for a local startup. We worked in a small team, including 3 - 4 developers, a designer and project manager. This was a big leap for me as a professional WEB developer. I gained a sound understanding of how client / server interactions work, why the code structure is important, how to create code that is easy to support and how to support someone else's code. In addition, I gained experience working in a SCRUM environment.
          h4 January 2016 - January 2017

        li
          h3 Full Stack Developer at 
            a(href='https://safervpn.com/' target="_blank") SaferSoftware.
          p JS and PHP developer at SaferSoftware team. I've been working on few projects including <a href='https://safervpn.com/' target="_blank">safervpn.com</a> and <a href='https://perimeter81.com/' target="_blank">perimeter81.com</a> websites and Perimeter81 front end application written using React. I worked in a great environment remotely and in Tel Aviv office with more that 10 members.
          h4 January 2017 - September 2019

        li
          h3 React Developer at 
            a(href='https://sphereinc.com/' target="_blank") Sphere software.
          p The team that I worked for included PM, QA and four front end developers. My role was to support front end app written using Preact. I can describe the environment as high professional and very motivated. I was fired after pandemic starts.
          h4 September 2019 - March 2020

        li
          h3 Front End Developer at 
            a(href='http://agreed.io/' target="_blank") Agreed.
          p This time I worked through Upwork directly for the product owners. I've been working with UI kit for the new SPA. Self management, the latest technologies stack, startup culture. I like to be a part of the growing product and always happy to improve it providing new ideas and quality code.
          h4 March 2020 - February 2021

        li
          h3 AdTech development for 
            a(href='https://dowjones.com/' target="_blank") Dow Jones Media Group.
          p AdTech development for Dow Jones Media Group
          h4 June 2021 - January 2022

        li
          h3 Front End Developer at 
            a(href='http://godaddy.com/' target="_blank") GoDaddy.
          p Integrate components to the website and develop new UI kit for storybook.
          h4 January 2022 - March 2022

        li
          h3 Front End Developer at 
            a(href='http://epicgames.com/' target="_blank") Epic games.
          p I worked with the SSP (Self-service Support Portal) team and contributed to a dark theme implementation corresponding to the rest of the Epic product's UI
          h4 March 2022 - April 2023

    section.projects

      mixin slider(images, id)
        .slider
          .slider__wrapper
            each src, index in images
              //- img(src=imgRoot + 'projects/compressed/' + src, loading=index='lazy')
              img(src=imgRoot + 'projects/compressed/' + src, loading=index === 0 ? 'eager' : 'lazy')
          .slider__pages
              each src, index in images
                //- input(type="radio", name=id, checked=index === 0)
                .slider__page(checked=index === 0)

      mixin project(title, url, images)
        li.project
          //- if images
            .project__slider
              +slider(images, title)
          .project__info
            if url
              a(href=url target="_blank")
                h3= title
            else
              h3= title
            block

      h2 Projects

      ul

        +project('Epic games', 'https://epicgames.com/')
          h4 React, Express, Zendesk Garden, Zendesk apps
          p As a part of the PST (Player Support Tool) team, I helped to fix numerous issues across the APP. PST is software that improves customer support efficiency by providing specialized tools that implement optimal agent workflows.
          p Then I worked with the SSP (Self-service Support Portal) team and contributed to a dark theme implementation corresponding to the rest of the Epic product's UI. A big part of the redesign was improving website accessibility by following the latest W3C standards. The other feature I was involved in was request classification, which helps minimize the number of tickets by directing relevant inquiries toward the FAQ or self-service sections. Also, as a result of my work, is significant test coverage improvement.
          p In addition, I made a few new applications for the Zendesk Help center. Zendesk provides a solution for managing customer support requests, allowing agents to do fast, personalized, and valuable customer support anywhere, anytime. To do that efficiently, I spent considerable time learning Zendesk's official documentation and open-source projects based on the same technology and picked best practices for my implementations. As a result, I have a new experience with third-party integrations.
          p Overall my primary responsibility was developing and maintaining React components of web applications. I worked closely with designers, back-end developers, the QA team, and BA to ensure that all application aspects functioned seamlessly and met the client's requirements. The code review is a way to write clean, efficient, and reusable code.
          p The last point I want to highlight is mentoring and training developers, guiding best practices and helping maintain coding standards across the team. My experience in the UX/UI design industry was a valuable asset in creating a usable and visually appealing interface.

        +project('Groupon', 'https://groupon.com/', ['groupon-1.jpg', 'groupon-2.jpg'])
          h4 Preact, Styled Components, Preact Hooks
          p Groupon is an American global e-commerce marketplace connecting subscribers with local merchants by offering activities, travel, goods and services in 15 countries. I was a part of a booking team that is responsible for pre-purchase and post-purchase screens, including the booking calendar. The team comprised a project manager, a quality assurance specialist, and four front-end developers. My primary responsibility was to support the front-end application, which uses Preact. The team was highly skilled and motivated, and I found the work environment very professional. Unfortunately, booking functionality is not a priority for development due to the pandemic.

        +project('Perimeter 81', 'https://perimeter81.com/', ['perimeter81-1.jpg', 'perimeter81-2.jpg', 'perimeter81-3.jpg', 'perimeter81-4.jpg', 'perimeter81-5.jpg'])
          h4 React, Redux, Docker, Postman
          p Perimeter 81 is an Israeli cloud and network security company that develops secure remote networks, based on the zero trust architecture, for organizations. Its technology replaces legacy security appliances like VPNs and firewalls. Perimeter 81 allows users to host their own secure VPN box with a static IP address without the hassle of managing it and keeping it up-to-date ourselves. There aren’t any other solutions on the market that allow us to do this easily and cost-effectively. My goal was to create UI components for the SPA and some API integrations.

        +project('SaferVPN', 'https://safervpn.com/', ['safervpn-1.jpg', 'safervpn-2.jpg', 'safervpn-3.jpg', 'safervpn-4.jpg', 'safervpn-5.jpg'])
            h4 Laravel, Blade, Foundation, Bluesnap, React, Stripe
            p SaferVPN is one of the best VPN services. The SaferVPN's mission is to provide secure, private, and uncensored Internet access to anyone, anywhere. I did a full stack development working in small team included 3 - 5 persons. The hardest part for me was the pricing page. I did the integrations with payments systems and tracking services to get statistics and good user experience. I'm happy that I was a part of this project.

        +project('Smart Extreme', 'https://smartextreme.com/')
          h4 React, Node JS, MySQL, Docker
          p Full stack development for SmartExtreme. The website focus on providing sport-specific details for Windsurfing, Kitesurfing, Snowkiting, and other related sports. This information includes wind conditions, wave height, wave direction, snow conditions, temperature, and any other factors relevant to each sport. Also users able to search for specific locations or browse through a list of popular spots suitable for their chosen sport. The website provides information on different spots, including their geographical details, popularity, accessibility, and any additional amenities or facilities available. Users can select a specific time frame for their sport activities, such as a particular day, week, or month. The website provides insights into historical data, forecasts, and patterns to help users identify the best time to engage in their chosen sport. The website offers filters and sorting options to narrow down search results based on user preferences. Users may filter spots based on wind strength, wind direction, wave height, snow depth, or any other relevant criteria. Users have the opportunity to contribute their own experiences, reviews, and ratings of different spots. This user-generated content provides valuable insights and recommendations for other users, fostering a community-driven platform. The website optimized for mobile devices to ensure that users can access information on the go, whether they are planning their activities from a computer or a smartphone. The website offer the option for users to receive notifications and alerts about favorable conditions for their chosen sports or updates on their preferred spots. This feature will help users stay informed and maximize their chances of experiencing optimal conditions.

        +project('LeanFM', 'http://leanfmtech.com/', ['leanfm-1.jpg', 'leanfm-2.jpg'])
          h4 CSS3, jQuery, React, Three.js, Node JS, Knex
          p LeanFM's Visual Information Hub provides facility managers with FAST and INTUITIVE access to information they need when needed to help prioritize work, understand problems and eliminate physical information search time. We integrate your management information systems and building automation feed with Building Information Models (BIM) to create the world's first visual information hub for facility managers and operators. I did UI for the WEB app using own state management library. LeanFM restricted to use third party code in their product.

        +project('iBOX', 'https://ibox.ua/', ['ibox-ua-1.jpg', 'ibox-ua-2.jpg', 'ibox-ua-3.jpg', 'ibox-ua-4.jpg', 'ibox-ua-5.jpg'])
          h4 CSS3, jQuery, React, Node JS, JSON schema
          p
            | Full stack development for 
            a(href='http://perevorot.com/' target="_blank") Perevorot.
            |  iBOX - one of the largest network of payment terminals in Ukraine. I created front end for the <a href='https://ibox.ua/' _target="_blank">iBox</a> website, React app for the terminals and API service with ability to provide service and log transitions.

        +project('APPY', 'https://appysaude.co.ao/', ['appysaude-1.jpg', 'appysaude-2.jpg', 'appysaude-3.jpg', 'appysaude-4.jpg'])
          h4 CSS3, jQuery, Angular 4, Google Maps API
          p Front-end development using Angular. The site is adapted for desktops and mobile devices.

        +project('MAKE MEAT', 'http://makemeat.com/', ['meat-1.jpg', 'meat-2.jpg', 'meat-3.jpg', 'meat-4.jpg', 'meat-5.jpg', 'meat-6.jpg', 'meat-7.jpg'])
          h4 CSS3, jQuery, Jade, Laravel
          p Front-end development for design agency. Best part is interactive 3d tiles. The site is adapted for desktops and mobile devices.

        +project('DITCH CLOTHING', 'http://ditchclothing.com/')
          h4 SASS, Jade, jQuery, Laravel
          p DITCH is a high street brand founded in 2010 in Kiev, Ukraine. The website that I created is simple but has elegant design. Good to mention that it is fully responsive and optimized for mobile devices.

        +project('BAMBOOK ACADEMY', 'https://bambook.academy/', ['bambook-academy-1.jpg', 'bambook-academy-2.jpg', 'bambook-academy-3.jpg', 'bambook-academy-4.jpg', 'bambook-academy-5.jpg', 'bambook-academy-6.jpg', 'bambook-academy-7.jpg', 'bambook-academy-8.jpg'])
          h4 SASS, Jade, jQuery, Laravel
          p Bambook Academy is a school that specialized in language courses of Polish and Czech. I created a multi-page website that has lots of stunning animations made with WOW.js and animate.css. It is worth mentioning that AJAX was used to make forms work without a page reload and to optimize data transmission as it dramatically impact user experience.

        +project('Grow with LEAF', 'https://getleaf.co/', ['getleaf-1.jpg', 'getleaf-2.jpg', 'getleaf-3.jpg', 'getleaf-4.jpg', 'getleaf-5.jpg'])
          h4 SASS, Jade, jQuery, Video API
          p LEAF is a plug-n-plant system that automatically grows plants and food and is controlled by your smartphone. Think of it as a beautiful mini fridge that stocks itself with high quality, pesticide free, natural herbs and food. I created the simple landing page with an interactive map. I worked with YouTube API and HTML5 video to get video player work. The eye-catching thing is a fully interactive map. The page is fully responsive and adapted for mobile devices.

        +project('BLEVOGUE', 'http://blevogue.com/', ['blevogue-1.jpg', 'blevogue-2.jpg', 'blevogue-3.jpg', 'blevogue-4.jpg', 'blevogue-5.jpg', 'blevogue-6.jpg', 'blevogue-7.jpg', 'blevogue-8.jpg' ])
          h4 SASS, Jade, jQuery, Laravel
          p This fashion blog was implemented using a custom parallax scroll effect and photo slider with not usual behavior. As there are many moving objects when you scroll through the page, JavaScript code that creates the parallax effect must be well optimized and efficient. I worked on all of the UI and integration with third-party services.

        +project('MEAT Studies', 'http://meatstudies.com/', ['meatstudies-1.jpg', 'meatstudies-2.jpg', 'meatstudies-3.jpg', 'meatstudies-4.jpg', 'meatstudies-5.jpg', 'meatstudies-6.jpg', 'meatstudies-7.jpg', 'meatstudies-8.jpg' ])
          h4 SASS, Jade, jQuery, Laravel
          p MEAT Studies is a creative education platform. It has both online and offline groups for beginners and advanced users. I was a part of this platform as a front end developer and a teacher. I taught HTML and CSS and the basics of web interface creation. The online platform is a multi-page website that has lots of stunning animations made with WOW.js and animate.css

        +project('API based aplication (aavia.ua)', null, ['aavia-1.jpg', 'aavia-2.jpg', 'aavia-3.jpg', 'aavia-4.jpg'])
          h4 Node JS, jQuery
          p This website helps our customers to get the cheapest flight tickets. The biggest feature is to compare prices for different dates. The UI part was written using jQuery templates and Bootstrap framework. The back end stands for parsing XML data and convert it to JSON. Also, it can store requests and orders and retrieve them in the personal cabinet. I worked on this project by myself. The only thing that I had is the business requirements from our client.
          p The project is no longer exist 😞

        +project('Application for Intertech sales department')
          h4 Node JS, jQuery, WebSocket, HTML5 Web Workers, Expresso JS, MailChimp
          p This project involved both front end and back end development. The back end part was responsible for authentication, saving, and retrieving data. The front end part was written using jQuery and MVC patterns. To make the application available offline, I used LocalStorage and WebWorker APIs. Client/server communication are implemented using REST guidelines. I made the requirements and implementation without any help aside.

    section
      h2 socials
      ul.socials

        li
          a(href="https://ua.linkedin.com/in/pogorelovalexey" target="_blank")
            include ./img/icons/linkedin-logo.svg

        li
          a(href="https://github.com/AlexeyPogorelov" target="_blank")
            include ./img/icons/github-logo.svg

        li
          a(href="http://codepen.io/AlexeyPogorelov" target="_blank")
            include ./img/icons/codepen-logo.svg

        li
          a(href="https://instagram.com/pogorelov_music" target="_blank")
            include ./img/icons/instagram-logo.svg

        li
          a(href="https://youtube.com/user/AlexHookMusic" target="_blank")
            include ./img/icons/youtube-logo.svg

        li
          a(href="https://soundcloud.com/alexeypogorelov" target="_blank")
            include ./img/icons/soundcloud-logo.svg

        li
          a(href="https://upwork.com/o/profiles/users/~01f863094d8472f9a6/" target="_blank")
            include ./img/icons/upwork-logo.svg

