- var isProduction = process.env.NODE_ENV === 'production';
- var domain = isProduction ? 'https://alexeypogorelov.github.io/' : '/';
- var imgRoot = domain + (process.env.NODE_ENV === 'production' ? 'src/img/' : 'img/');

doctype html
html(lang='en')
  head
    title Oleksii Pohorielov

    //- meta
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")

    //- generate image here http://realfavicongenerator.net/
    link(rel="apple-touch-icon" sizes="180x180" href=imgRoot + "favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href=imgRoot + "favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href=imgRoot + "favicons/favicon-16x16.png")
    link(rel="manifest" href=imgRoot + "favicons/site.webmanifest")
    link(rel="mask-icon", href=imgRoot + "favicons/safari-pinned-tab.svg", color="#fea100")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#f1b887")

    //- open graph
    meta(property="og:type" content="website")
    meta(property="og:title" content="Alexey Pogorelov")
    meta(property="og:description" content="JavaScript developer")
    meta(property="og:image" content=imgRoot + "avatar-300px.jpg")
    meta(property="og:url" content=domain)
    meta(name="twitter:image" content=imgRoot + "avatar-300px.jpg")
    meta(name="twitter:title" content="Alexey Pogorelov")
    meta(name="twitter:url" content=domain)
    meta(name="twitter:card" content="summary")
    meta(name="twitter:description" content="JavaScript developer")

    style
      include ../dist/css/main.css

  body
    section
      .introduction__image

      .introduction__headers
        h1 Oleksii Pohorielov
        h4 (LEAD Software Engineer)

      ul.introduction
        li
          strong Location: 
          a(href="https://www.google.com.ua/maps/place/%D0%A7%D0%B5%D1%80%D0%BA%D0%B0%D1%81%D1%81%D1%8B,+%D0%A7%D0%B5%D1%80%D0%BA%D0%B0%D1%81%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C/@49.4310824,31.9787417,12z/data=!3m1!4b1!4m5!3m4!1s0x40d14b866064977f:0xf8dce723a9cbb5d8!8m2!3d49.444433!4d32.059767?hl=ru" target="_blank") Ukraine, Cherkassy
        li
          strong E-MAIL: 
          a(href="mailto:alexey.intertech@gmail.com") alexey.intertech@gmail.com
        li
          strong Phone: 
          a(href="callto:+380638561317") +38 (063) 856-13-17
        li
          strong Skype: 
          a(href="skype:alexey.pogorelov.music") alexey.pogorelov.music

      h2 Overview
      p I'm a full-stack developer with 8+ years of experience. I have superb skills in technologies related to JavaScript like React, NodeJS, Angular, Vue, jQuery, etc.
      p I was a part of 20+ projects as either a front-end or a back-end developer and had a lot of experience in creating single-page web applications and REST APIs for various web products. I am always searching for the best practices and cutting-edge technologies to be a more productive and skilled developer and get my code quality as high as I can. I'm also a big fan of the UX/UI design industry, so I can help to create usable and visually-appealing interfaces. In addition, I can do performance reviews and web app optimizations to ensure that the user will get the best experience and your app, the best conversion.
      p My portfolio speaks for itself. If you are looking for a web developer with design skills, then I am the man.

      h2 Skills
      ul.skills
        li JavaScript / TypeScript
        li User Experience & Design
        li Node JS
        li HTML5 / CSS3
        li React 16.8+
        li Angular 2+
        li jQuery
        li PHP
        li Canvas (Three, P5)
        li Sass / Less
        li Pug / Blade / Twig
        li SQL / Mongo
        li GIT / SVN
        li Vagrant / Docker
        li Agile / Scrum / Kanban

    section
      h2 Education
      h3 Master of Computer Applications (M.C.A.), Programming | Cherkasy National University named after Bogdan Khmelnitsky
      p Master of Computer Applications (M.C.A.), Programming | Cherkasy National University named after Bogdan Khmelnitsky
      p 2007 – 2012

      h2 Experience
      ul.experience
        li
          h3 Front End
          p Freelance. Worked for a local companies. Created few web based products using Joomla / WordPress and jQuery.
          p January 2011 - May 2015 (4 years 5 months)

        li
          h3 Front End Technical Lead
          p Front End Technical Lead at 
            a(href='https://intertech.company/') Intertech. 
          p I had a lot of experience creating landing pages and websites using HTML and CSS.
          p June 2015 - January 2016 (1 year 6 months) Ukraine

        li
          h3 WEB Developer
          p I've been working on several new projects for 
            a(href='http://www.perevorot.com/' target="_blank") Perevorot.
          p January 2016 - January 2017

        li
          h3 Full Stack Developer
          p JS and PHP developer at SaferSoftware team. I helped to create safervpn.com and perimeter81.com websites and was a part of the Perimeter81 front end application team.
          p January 2017 - September 2019

        li
          h3 React Developer
          p Worked for Sphere software.
          p September 2019 - March 2020

        li
          h3 Front End Developer
          p Working for 
            a(href='http://agreed.io/' target="_blank") Agreed
          p March 2020 - Jan 2021

        li
          h3 Front End Developer
          p Working for 
            a(href='https://godaddy.com/' target="_blank") GoDaddy
          p Jan 2021 - Dec 2021

        li
          h3 Full Stack Developer
          p Working for 
            a(href='https:/epicgames.com/help' target="_blank") TechTeam
          p Jan 2022 - Present

    section.projects

      mixin slider(images, id)
        .slider
          each src, index in images
            input(type="radio", name=id, checked=index === 0)
          .slider__wrapper
            each src, index in images
              img(src=imgRoot + 'projects/' + src, loading=index === 0 ? 'eager' : 'lazy')

      mixin project(title, url, images)
        li.project
          //- if images
            .project__slider
              +slider(images, title)
          .project__info
            a(href=url target="_blank")
              h3= title
            block

      h2 Projects

      ul

        +project('GoDaddy', 'https://www.wsj.com/', ['meat.jpg', 'blevogue.jpg'])
          h4 React
          p Support Solutions Sets for the GoDaddy website.

        +project('Dow Jones Media Group', 'https://www.wsj.com/', ['meat.jpg', 'blevogue.jpg'])
          h4 React, Next, Prebid.JS
          p Support Ad platform for Dow Jones websites: The Wall Street Journal, Barrons, Financial News, etc.

        +project('Groupon', 'https://www.groupon.com/', ['meat.jpg', 'blevogue.jpg'])
          h4 Preact, Styled Components, Hooks
          p Worked for Sphere software. I was with a booking team that is responsible for pre-purchase and post-purchase screens and the booking calendar.

        +project('SaferVPN', 'https://www.safervpn.com/', ['blevogue.jpg'])
            h4 Laravel, Blade, Foundation, Bluesnap, React, Stripe
            p Full stack development for SaferSoftware team. I'm happy to be a part of this project. SaferVPN is one of the best VPN services. The SaferVPN's mission is to provide secure, private, and uncensored Internet access to anyone, anywhere.

        +project('Perimeter 81', 'https://www.perimeter81.com/', ['meat.jpg'])
          h4 React, Redux, Docker, Postman
          p Perimeter 81 allows users to host their own secure VPN box with a static IP address without the hassle of managing it and keeping it up-to-date ourselves. There aren’t any other solutions on the market that allow us to do this easily and cost-effectively.

        +project('Smart Extreme', 'https://smartextreme.com/', ['meat.jpg'])
          h4 React, Node JS, MySQL, Docker
          p Full stack development for SmartExtreme. This websloading="lazy"ite allows you to find best time and place for active sports such as Windsurfing, Kitesurfing, Snowkiting, etc.

        +project('LeanFM', 'http://www.leanfmtech.com/', ['meat.jpg'])
          h4 CSS3, jQuery, React, Three.js, Node JS, Knex
          p Full stack development for LeanFM. LeanFM's Visual Information Hub provides facility managers with FAST and INTUITIVE access to information they need when needed to help prioritize work, understand problems and eliminate physical information search time. We integrate your management information systems and building automation feed with Building Information Models (BIM) to create the world's first visual information hub for facility managers and operators.

        +project('iBOX', 'https://ibox.ua/', ['meat.jpg'])
          h4 CSS3, jQuery, React, Node JS, JSON schema
          p
            | Full stack development for 
            a(href='http://www.perevorot.com/' target="_blank") Perevorot.
            |  iBOX - fastest and easiest way to pay.

        +project('APPY', 'https://www.appysaude.co.ao/', ['meat.jpg'])
          h4 CSS3, jQuery, Angular 4, Google Maps API
          p Front end development for 
            a(href='http://www.perevorot.com/' target="_blank") Perevorot.

        +project('MAKE MEAT', 'http://makemeat.com/', ['meat.jpg'])
          h4 CSS3, jQuery, Jade, Laravel
          p Front-end development for design agency. Best part is interactive 3d tiles. The site is adapted for desktops and mobile devices.

        +project('DITCH CLOTHING', 'http://ditchclothing.com/', ['meat.jpg'])
          h4 SASS, Jade, jQuery, Laravel
          p DITCH is a high street brand founded in 2010 in Kiev, Ukraine. The site is simple but has elegant design. Fully responsive and optimized for mobile devices.

        +project('BAMBOOK ACADEMY', 'https://bambook.academy/', ['meat.jpg'])
          h4 SASS, Jade, jQuery, Laravel
          p This multi page website has lots of stunning animations made with WOW.js and animate.css <br /> It worth mentioning that AJAX was used to make forms work without a page reload and to optimize data transmission as it has great impact on user experience.

        +project('Grow with LEAF', 'https://www.getleaf.co/', ['meat.jpg'])
          h4 SASS, Jade, jQuery, Video API
          p A simple landing page with an interactive map. YouTube API and HTML5 video were used in this project. Eye catching thing is a fully interactive map. The page is fully responsive and adapted for mobile devices.

        +project('BLEVOGUE', 'http://blevogue.com/', ['meat.jpg'])
          h4 SASS, Jade, jQuery, Laravel
          p This project involved creation of custom parallax scroll effect. As there are lots of moving objects when you move though the page, JavaScript code which creates the parallax effect must be well optimized and efficient.

        +project('MEAT Studies', 'http://meatstudies.com/', ['meat.jpg'])
          h4 SASS, Jade, jQuery, Laravel
          p This multi page website has lots of stunning animations made with WOW.js and animate.css

        +project('Application for Intertech sales department', '', ['meat.jpg'])
          h4 Node JS, jQuery, WebSocket, HTML5 Web Workers, Expresso JS, MailChimp
          p This project involved both front end and back end development. Back end part was responsible for logging and data storage. Front end part was written with jQuery and MVC patterns. For offline application usage HTML5 LocalStorage API was used. Front end and back end communication is based on REST.

        +project('API based aplication (aavia.ua)', 'Node JS, jQuery', ['meat.jpg'])
          p This application is part of air tickets service. It was made for parsing XML data and convert it to JSON. The program can backup and restore request results with admin panel. The front end side gets JSON and build it for WEB UI.
          p The project is no longer exist 😞

    section
      h2 socials
      ul.socials

        li
          a(href="https://ua.linkedin.com/in/pogorelovalexey" target="_blank")
            include ./img/icons/linkedin-logo.svg

        li
          a(href="https://github.com/AlexeyPogorelov" target="_blank")
            include ./img/icons/github-logo.svg

        li
          a(href="http://codepen.io/AlexeyPogorelov" target="_blank")
            include ./img/icons/codepen-logo.svg

        li
          a(href="https://www.instagram.com/pogorelov_music" target="_blank")
            include ./img/icons/instagram-logo.svg

        li
          a(href="https://www.youtube.com/user/AlexHookMusic" target="_blank")
            include ./img/icons/youtube-logo.svg

        li
          a(href="https://soundcloud.com/alexeypogorelov" target="_blank")
            include ./img/icons/soundcloud-logo.svg

